* {
  padding: 0;
  margin: 0;
}
.nav-bar {
  margin: 0 15% 0 15%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
}
.nav-items,
.nav-logo {
  color: white;
}
.nav-logo {
  font-weight: 700;
}
.target {
  margin-left: auto;
}
.header {
  background-color: #1f2937;
  color: white;
}
.header-info {
  display: flex;
  flex-wrap: wrap;
  gap: 10%;
  box-sizing: border-box;
  margin: 0 15% 0 15%;
  padding: 100px 0 100px 0;
}
.cards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap:5%;
    margin:20px 20% 40px 20%;
}
@media (min-width: 1200px) {
  .header-info > div {
    flex: 1 0 45%;
    height: 200px;
  }
  .random-card{
    flex-basis:20%;
}
}
@media (max-width: 1200px) {
  .header-info {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .header-info > div {
    flex-basis: 100%;
  }
  .random-card{
    flex-basis:42%;
}
}
@media (max-width: 900px) {
    .random-card{
        flex-basis:100%;
    }
}
/* .header-text,.header-img{
    box-sizing: border-box;
width:calc(45%);
height:200px;
} */
h1,
p {
  margin-bottom: 10px;
}
.header-img img {
  width: 100%;
  height: 100%;
}
button {
  outline: none;
  display: inline-block;
  background-color: #3882f6;
  border: none;
  border-radius: 10px;
  padding: 8px 10px 8px 10px;
  color: white;
  font-weight: 700;
  font-size: 18px;
}
.random-info{
    margin:50px 10% 50px 10%;
}
.random-info h1{
    text-align: center;
}
.random-card{
    display: flex;
    flex-direction: column; 
    gap:10px;
}
.random-pic{
    min-height: 160px;
    border: 5px solid black;
    border-radius: 20px;
}
.random-details{
    flex:1 0  25%;
    text-align: center;
}
.comment{
    background-color: lightgray;
    padding:50px 25% 50px 25%;
    font-size: 24px;
}
.author{
    text-align: right;
    font-weight: 700;
}
.footer{
    background-color:  #3882f6;
    border-radius:20px;
    border: 5px solid white;
    margin:5% 25% 5% 25%;
    padding:2%;
    color: white;
    display: flex;
    justify-content: space-evenly;
}
.footer-text{
    display:flex;
    flex-direction: column;
}
.bolder{
font-weight: 700;
font-size: 20px;
}
.normal{
    font-size: 16px;
}
.footer button{
    border: 3px solid white;
    width:100px;
    height: 50px;
}