*{
    padding :0;
    margin:0;
}
.nav-bar{
    margin:0 250px 0 250px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}
.nav-items,.nav-logo{
    color :white;
}
.nav-logo{
    font-weight: 500;
}
.target{
    margin-left:auto;
}
.header{
    background-color: #1f2937;
    color:white;
  
}
.header-info{
    display: flex;
    flex-wrap: wrap;
    gap:10%;
    box-sizing: border-box;
    margin:0 250px 0 250px;
    padding: 100px 0 100px 0;
    
}
.header-text,.header-img{
    box-sizing: border-box;
width:calc(45%);
height:200px;
}
h1,p{
    margin-bottom:10px;
}
.header-img img{
    width:100%;
    height:100%;
}
button{
    outline: none;
    display: inline-block;
    background-color: #3882F6;
    border: none;
    border-radius: 10px;
    padding:5px 10px 05px 10px;
    color:white;
}
